.content-block-title h2{
    font-size: 1.5em;
}
.content-block-text{
    padding-top: 15px;
    padding-bottom: 10px;
}
.content-block-text a{
    color: blue;
    text-decoration: underline;
}
.content-block-list{
    padding-top: 15px;
    padding-bottom: 10px;
}